@model IEnumerable<Glossary.Models.GlossaryTerm>
@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Term
        </th>
        <th>
            Definition
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="term">
                @Html.DisplayFor(modelItem => item.Term)
            </td>
            <td class="definition">
                @Html.DisplayFor(modelItem => item.Definition)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.GlossaryTermID }, new { @class = "editTerm" }) |
                @Html.ActionLink("Details", "Details", new { id = item.GlossaryTermID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.GlossaryTermID }, new { @class = "deleteTerm"})
            </td>
        </tr>
    }
</table>
